# Database - Update with your PostgreSQL credentials
DATABASE_URL="postgresql://user:password@localhost:5432/backend_assessment?schema=public"

# User Service
USER_SERVICE_PORT=3001
USER_SERVICE_GRPC_PORT=50051

# Wallet Service
WALLET_SERVICE_PORT=3002
WALLET_SERVICE_GRPC_PORT=50052
